* {
    box-sizing: border-box;
}

/*
=================
HEADER
=================
*/

header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5em;
}

/*nav disappears when screen small*/
nav ul {
    display: none;
}

h1 {
    color: #484848;
    font-family: 'Raleway', sans-serif;
    font-size: 2.25em;
    text-transform: uppercase;
}

header h1 {
    height: 2em;
    text-align: center;
    padding-bottom: 0;
    text-decoration: none;
}

/*
=================
MAIN IMAGE
=================
*/

figure {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625em;
}

figcaption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-image, .find-image {
    width: 100%;
    height: 25em;
    opacity: 0.95;
    background-size: cover;
}

.main-image {
    background: url("../images/main.jpg") center 30% no-repeat;
}

.my-image img {
    max-height: 20em;
    padding-right: 5em;
}

h2, h3 {
    color: #fff;
}

h2 {
    font-family: 'Alice', serif;
    font-size: 3.2em;
    font-weight: bold;
    padding-top: 3.75em;
    padding-bottom: 1.875em;
}

.image-text {
    text-align: center;
    color: white;
    padding: 0.5em;
}

figcaption {
    background-color: black;
    opacity: 0.85;
    border-radius: 0.938em;
}

h3 {
    font-family: 'Open sans', sans-serif;
    font-size: 1.25em;
    line-height: 2em;
    max-width: 30.75em;
    text-align: center;
    padding-bottom: 1.25em;
}

.find-us {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 13.75em;
    height: 2.375em;
    background-color: #f00;
    font-family: 'Open sans', sans-serif;
    font-size: 0.938em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}




/*
=================
ARTICLES
=================
*/

section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 4.375em;
    padding-right: 4.375em;
}

article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 62.5em;
}

article h1, article h2 {
    font-family: 'Alice', sans-serif;
    font-size: 1.625em;
    font-weight: normal;
    padding: 0.3em 0;
}

article h2 {
    color: #484848;
}

p, li {
    font-family: 'Open sans', sans-serif;
    font-size: 1em;
    color: #737373;
    line-height: 1.188em;
    padding-bottom: 0.625em;
}

.flex-column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.spaced {
    margin-right: 10em;
}

.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.button {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top: 1.25em;
    margin-bottom: 0.625em;
}

aside {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.divider {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.divider span {
    background-color: #d0d0d0;
    height: 0.063em;
    width: 16.250em;
}

table {
    border-collapse: collapse;
    font-family: 'Open sans', sans-serif;
    font-size: 1em;
    color: #484848;
    margin-top: 0.063em;
    margin-bottom: 0.625em;
}

td, th {
    padding: 0.5em;
    text-align: left;
    border: none;
    padding-right: 2.5em;
}

.bold {
    font-weight: bold;
}

.red {
    text-align: center;
    color: #f00;
}

.phone {
    text-align: center;
    margin-top: 1.563em;
    margin-bottom: 0.938em;
}

.phone a {
    color: #f00;
    font-family: sans-serif;
    font-size: 2.250em;
    text-transform: uppercase;
    text-decoration: none;
}

.phone a:hover {
    color: #00f;
}

.phone a:visited {
    color: #f00;
}

footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer div {
    text-align: center;
    line-height: 1.375em;
}

footer div a {
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline;
    color: #00f;
}

/*
=====================================================================================
MEDIA QUERIES
=====================================================================================
*/

/*GREATER THAN 600px*/
@media all and (min-width: 600px) {
    /*puts numbered list and image on each side of container*/
    div aside {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .divider span {
        width: 28.125em;
    }
}

/*GREATER THAN 768px*/
@media all and (min-width: 768px) {
    .main-image, .find-image {
        height: 37em;
        width: 100%;
        opacity: 0.95;
        background-size: cover;
    }

    /*adds navigation at top*/
    header {
        height: 9em;
    }

     nav ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    nav ul li a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0.4em;
        padding-right: 0.4em;
        margin-left: 0.6em;
        margin-right: 0.6em;
        height: 1.875em;
        background-color: #f6f6f6;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        text-decoration: none;
        color: #800000; /* NAV LINKS COLOR */
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    /*adds line*/
    .line {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 1.250em;
        padding-right: 1.250em;
    }

    .line span {
        display: none;
    }

    .divider span {
        width: 37.5em;
    }
}

/*GREATER THAN 800px*/
@media all and (min-width: 800px) {
    /*increases line size*/
    .line span {
        display: none;
    }

    .divider span {
        width: 40.625em;
    }
}

/*GREATER THAN 980px*/
@media all and (min-width: 980px) {
    /*increases line size*/
    .line span {
        display: inline-block;
        background-color: #d0d0d0;
        height: 0.063em;
        width: 1em;
        width: 0.75em;
    }

    .divider span {
        width: 46.875em;
    }
}

/*GREATER THAN 1100px*/
@media all and (min-width: 1100px) {
    /*increases line size*/
    .line span {
        width: 3em;
    }

    .divider span {
        width: 53.125em;
    }
}

/*
===================
JENNI
===================
*/

/* HEADING COLOR */
h1, h2, h3, h4, h5, h6 {
	color: #800000;
    text-align: left;
}

/* SELECTION LIST */
article ul li, article ol li {
    margin-left: 2em;
    list-style: circle;
}

.text-center {
    text-align: center;
}
